/* Reset */
* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

/* Custom property */
:root {
    --global-color-1: #800000;
}

/* Styles for body */
body {
    width: 600px !important;
    margin: 0 auto !important;
    border: 3px solid #931420 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 100% !important;
    margin-left: 10px !important;
    background-color: #fff0dd !important;
}

a:focus, a:hover {
    font-style: italic !important;
}

/* Styles for the header */
header {
    padding-top: 1.5em !important;
    padding-bottom: 2em !important;
    border-bottom: 3px solid #931420 !important;
    background: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%) !important;
}

header h2, header h3 {
    font-size: 130% !important;
    font-style: italic !important;
}

header img {
    float: left !important;
    padding-right: 30px !important;
    padding-left: 30px !important;
}

/* Shadow effect */
.shadow {
    text-shadow: 2px 2px 2px var(--global-color-1) !important;
}

/* Styles for main content */
main {
    clear: left !important;
    padding-right: 30px !important;
    padding-left: 30px !important;
}

main h1 {
    font-size: 150% !important;
    padding: .3em 0 !important;
    border-top: 3px solid #931420 !important;
    border-bottom: 3px solid #931420 !important;
}

main h2 {
    color: var(--global-color-1) !important;
    font-size: 130% !important;
    padding: .5em 0 .25em 0 !important;
}

main h3 {
    font-size: 105% !important;
    padding-bottom: .25em !important;
}

main img {
    padding-bottom: 1em !important;
}

main p {
    padding-bottom: .5em !important;
}

main blockquote {
    padding: 0 2em !important;
    font-style: italic !important; /* Step 12 */
}

main ul {
    padding: 0 0 .25em 1.25em !important;
}

main li {
    padding-bottom: .35em !important;
}

/* Styles for the footer */
footer {
    background-color: #931420 !important;
}

footer p {
    text-align: center !important;
    padding: 1em 0 !important;
    color: #ffffff !important;
}

html {
    background-color: #ffffff !important;
}
